<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <style>
    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    body {
      background: #FFF;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
    }

    .container {
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      display: block;
    }
  </style>
  <title>sd-table example</title>
</head>

<body>
  <div id="demo">
    <sd-example></sd-example>
  </div>
  <script type="module">
    import { html, LitElement } from 'lit';
    import '../sd-table.js';

    export class SdExample extends LitElement {
      static get properties() {
        return {
          rows: { type: Number },
          cols: { type: Number },
          pagination: { type: Object },
        };
      }

      handleClickListener(e) {
        console.log('click', e)
      }

      firstUpdated(_changedProperties) {
        super.firstUpdated(_changedProperties);
        this.table = this.shadowRoot.querySelector(`#sd-table-example`);
      }

      clickEvent() {
        const data = [{ "orderNumber": "O57096", "provider": "025", "totalQuantity": "156", "totalQuantitySupply": "0", "totalQuantityMissing": "156" }, { "orderNumber": "O57498", "provider": "027", "totalQuantity": "119", "totalQuantitySupply": "0", "totalQuantityMissing": "119" }, { "orderNumber": "O57604", "provider": "012", "totalQuantity": "226", "totalQuantitySupply": "0", "totalQuantityMissing": "226" }, { "orderNumber": "O57607", "provider": "027", "totalQuantity": "253", "totalQuantitySupply": "0", "totalQuantityMissing": "253" }];
        this.table.setAttribute('data', JSON.stringify(data));
      }

      // eslint-disable-next-line class-methods-use-this
      log(e) {
        const data = e.detail;
        // eslint-disable-next-line no-console
        console.log(`rows: ${data.rows}`);
        // eslint-disable-next-line no-console
        console.log(`cols: ${data.cols}`);
        // eslint-disable-next-line no-console
        console.log(data.pagination);
        // eslint-disable-next-line no-console
        console.log(data.sort);
      }

      render() {
        const options = {
          striped: true,
          fetch: {
          uri: "http://localhost:8000/api/products/filter",
          options: {
            headers: {
              'Content-Type': 'application/json',
            },
            method: 'POST'
          }

        }};

        return html`
                <div class="container">
                    <button @click='${this.clickEvent}'>Reload</button>
                    <sd-table id="sd-table-example" .options="${{bordered: true, key: "orderNumber"}}"
                        .data="${[{ "orderNumber": "O57096", "provider": "025", "totalQuantity": "156", "orderDate": "2019-09-30", "orderFinalDate": "2020-04-06", "totalQuantitySupply": "0", "totalQuantityMissing": "156" }, { "orderNumber": "O57498", "provider": "027", "totalQuantity": "119", "orderDate": "2019-11-27", "orderFinalDate": "2019-12-27", "totalQuantitySupply": "0", "totalQuantityMissing": "119" }, { "orderNumber": "O57604", "provider": "012", "totalQuantity": "226", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "226" }, { "orderNumber": "O57607", "provider": "027", "totalQuantity": "253", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "253" }, { "orderNumber": "O57635", "provider": "240", "totalQuantity": "93", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "93" }, { "orderNumber": "O57703", "provider": "027", "totalQuantity": "150", "orderDate": "2019-12-17", "orderFinalDate": "2020-01-17", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O57722", "provider": "051", "totalQuantity": "41", "orderDate": "2019-12-17", "orderFinalDate": "2020-01-17", "totalQuantitySupply": "0", "totalQuantityMissing": "41" }, { "orderNumber": "O57740", "provider": "240", "totalQuantity": "94", "orderDate": "2019-12-18", "orderFinalDate": "2020-01-18", "totalQuantitySupply": "0", "totalQuantityMissing": "94" }, { "orderNumber": "O57757", "provider": "027", "totalQuantity": "52", "orderDate": "2019-12-18", "orderFinalDate": "2020-01-18", "totalQuantitySupply": "0", "totalQuantityMissing": "52" }, { "orderNumber": "O57819", "provider": "207", "totalQuantity": "60", "orderDate": "2019-12-30", "orderFinalDate": "2020-01-31", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O57848", "provider": "078", "totalQuantity": "120", "orderDate": "2019-12-31", "orderFinalDate": "2020-01-31", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O57905", "provider": "003", "totalQuantity": "83", "orderDate": "2020-01-16", "orderFinalDate": "2020-02-20", "totalQuantitySupply": "0", "totalQuantityMissing": "83" }, { "orderNumber": "O57911", "provider": "027", "totalQuantity": "336", "orderDate": "2020-01-16", "orderFinalDate": "2020-03-06", "totalQuantitySupply": "0", "totalQuantityMissing": "336" }, { "orderNumber": "O58009", "provider": "003", "totalQuantity": "150", "orderDate": "2020-01-28", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58013", "provider": "027", "totalQuantity": "60", "orderDate": "2020-01-28", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58052", "provider": "197", "totalQuantity": "79", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "79" }, { "orderNumber": "O58053", "provider": "078", "totalQuantity": "290", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "290" }, { "orderNumber": "O58061", "provider": "016", "totalQuantity": "135", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "135" }, { "orderNumber": "O58064", "provider": "162", "totalQuantity": "219", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "219" }, { "orderNumber": "O58091", "provider": "046", "totalQuantity": "125", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "125" }, { "orderNumber": "O58104", "provider": "090", "totalQuantity": "200", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "200" }, { "orderNumber": "O58105", "provider": "027", "totalQuantity": "90", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58108", "provider": "078", "totalQuantity": "97", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "97" }, { "orderNumber": "O58140", "provider": "019", "totalQuantity": "53", "orderDate": "2020-02-07", "orderFinalDate": "2020-03-10", "totalQuantitySupply": "0", "totalQuantityMissing": "53" }, { "orderNumber": "O58166", "provider": "235", "totalQuantity": "300", "orderDate": "2020-02-10", "orderFinalDate": "2020-03-10", "totalQuantitySupply": "0", "totalQuantityMissing": "300" }, { "orderNumber": "O58180", "provider": "046", "totalQuantity": "60", "orderDate": "2020-02-11", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58184", "provider": "027", "totalQuantity": "143", "orderDate": "2020-02-11", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "143" }, { "orderNumber": "O58189", "provider": "046", "totalQuantity": "55", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "55" }, { "orderNumber": "O58191", "provider": "019", "totalQuantity": "30", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "30" }, { "orderNumber": "O58193", "provider": "133", "totalQuantity": "45", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "45" }, { "orderNumber": "O58196", "provider": "004", "totalQuantity": "90", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58216", "provider": "235", "totalQuantity": "110", "orderDate": "2020-02-13", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "110" }, { "orderNumber": "O58221", "provider": "027", "totalQuantity": "198", "orderDate": "2020-02-13", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "198" }, { "orderNumber": "O58252", "provider": "003", "totalQuantity": "47", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "47" }, { "orderNumber": "O58254", "provider": "027", "totalQuantity": "414", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-27", "totalQuantitySupply": "0", "totalQuantityMissing": "414" }, { "orderNumber": "O58259", "provider": "133", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58261", "provider": "235", "totalQuantity": "240", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "240" }, { "orderNumber": "O58262", "provider": "241", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58264", "provider": "019", "totalQuantity": "179", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "179" }, { "orderNumber": "O58269", "provider": "161", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58270", "provider": "169", "totalQuantity": "95", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "95" }, { "orderNumber": "O58272", "provider": "090", "totalQuantity": "120", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O58273", "provider": "012", "totalQuantity": "80", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "80" }, { "orderNumber": "O58311", "provider": "119", "totalQuantity": "465", "orderDate": "2020-02-19", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "465" }, { "orderNumber": "O58320", "provider": "199", "totalQuantity": "2,000", "orderDate": "2020-02-19", "orderFinalDate": "2020-03-27", "totalQuantitySupply": "0", "totalQuantityMissing": "2,000" }, { "orderNumber": "O58347", "provider": "051", "totalQuantity": "150", "orderDate": "2020-02-21", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58353", "provider": "235", "totalQuantity": "440", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "440" }, { "orderNumber": "O58354", "provider": "189", "totalQuantity": "155", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "155" }, { "orderNumber": "O58357", "provider": "012", "totalQuantity": "245", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "245" }, { "orderNumber": "O58358", "provider": "090", "totalQuantity": "240", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "240" }, { "orderNumber": "O58359", "provider": "078", "totalQuantity": "100", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "100" }, { "orderNumber": "O58365", "provider": "056", "totalQuantity": "95", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "95" }, { "orderNumber": "O58366", "provider": "027", "totalQuantity": "305", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "305" }, { "orderNumber": "O58371", "provider": "046", "totalQuantity": "60", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58372", "provider": "241", "totalQuantity": "155", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "155" }, { "orderNumber": "O58374", "provider": "019", "totalQuantity": "28", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "28" }, { "orderNumber": "O58376", "provider": "013", "totalQuantity": "75", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58384", "provider": "149", "totalQuantity": "350", "orderDate": "2020-02-25", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "350" }, { "orderNumber": "O58386", "provider": "019", "totalQuantity": "35", "orderDate": "2020-02-25", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "35" }, { "orderNumber": "O58475", "provider": "235", "totalQuantity": "60", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58477", "provider": "241", "totalQuantity": "70", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "70" }, { "orderNumber": "O58478", "provider": "056", "totalQuantity": "90", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58480", "provider": "038", "totalQuantity": "75", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58481", "provider": "133", "totalQuantity": "160", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "160" }, { "orderNumber": "O58485", "provider": "025", "totalQuantity": "90", "orderDate": "2020-03-05", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58495", "provider": "003", "totalQuantity": "205", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "205" }, { "orderNumber": "O58497", "provider": "235", "totalQuantity": "424", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "424" }, { "orderNumber": "O58500", "provider": "090", "totalQuantity": "75", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58505", "provider": "012", "totalQuantity": "308", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "308" }, { "orderNumber": "O58506", "provider": "025", "totalQuantity": "18", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "18" }, { "orderNumber": "O58509", "provider": "013", "totalQuantity": "80", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "80" }, { "orderNumber": "O58513", "provider": "207", "totalQuantity": "120", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O58524", "provider": "004", "totalQuantity": "1,050", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "1,050" }, { "orderNumber": "O58530", "provider": "090", "totalQuantity": "420", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-09", "totalQuantitySupply": "0", "totalQuantityMissing": "420" }, { "orderNumber": "O58532", "provider": "143", "totalQuantity": "490", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "490" }, { "orderNumber": "O58533", "provider": "046", "totalQuantity": "99", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "99" }, { "orderNumber": "O58536", "provider": "090", "totalQuantity": "100", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "100" }, { "orderNumber": "O58540", "provider": "235", "totalQuantity": "245", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "245" }, { "orderNumber": "O58541", "provider": "012", "totalQuantity": "130", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "130" }, { "orderNumber": "O58542", "provider": "004", "totalQuantity": "125", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "125" }, { "orderNumber": "O58546", "provider": "046", "totalQuantity": "300", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "300" }, { "orderNumber": "O58555", "provider": "149", "totalQuantity": "288", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "288" }, { "orderNumber": "O58562", "provider": "197", "totalQuantity": "55", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "55" }, { "orderNumber": "O58565", "provider": "025", "totalQuantity": "704", "orderDate": "2020-03-10", "orderFinalDate": "2020-08-15", "totalQuantitySupply": "0", "totalQuantityMissing": "704" }, { "orderNumber": "O58580", "provider": "025", "totalQuantity": "1,786", "orderDate": "2020-03-12", "orderFinalDate": "2020-08-15", "totalQuantitySupply": "0", "totalQuantityMissing": "1,786" }, { "orderNumber": "O58584", "provider": "038", "totalQuantity": "150", "orderDate": "2020-03-12", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58590", "provider": "194", "totalQuantity": "8,304", "orderDate": "2020-03-12", "orderFinalDate": "2020-07-30", "totalQuantitySupply": "0", "totalQuantityMissing": "8,304" }, { "orderNumber": "O58651", "provider": "003", "totalQuantity": "350", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "350" }, { "orderNumber": "O58652", "provider": "004", "totalQuantity": "940", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-25", "totalQuantitySupply": "0", "totalQuantityMissing": "940" }, { "orderNumber": "O58653", "provider": "046", "totalQuantity": "210", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "210" }, { "orderNumber": "O58657", "provider": "135", "totalQuantity": "200", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "200" }, { "orderNumber": "O58658", "provider": "150", "totalQuantity": "460", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "460" }, { "orderNumber": "O58663", "provider": "207", "totalQuantity": "130", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "130" }, { "orderNumber": "O58665", "provider": "235", "totalQuantity": "340", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "340" }, { "orderNumber": "O58666", "provider": "241", "totalQuantity": "135", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "135" }, { "orderNumber": "O57096", "provider": "025", "totalQuantity": "156", "orderDate": "2019-09-30", "orderFinalDate": "2020-04-06", "totalQuantitySupply": "0", "totalQuantityMissing": "156" }, { "orderNumber": "O57498", "provider": "027", "totalQuantity": "119", "orderDate": "2019-11-27", "orderFinalDate": "2019-12-27", "totalQuantitySupply": "0", "totalQuantityMissing": "119" }, { "orderNumber": "O57604", "provider": "012", "totalQuantity": "226", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "226" }, { "orderNumber": "O57607", "provider": "027", "totalQuantity": "253", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "253" }, { "orderNumber": "O57635", "provider": "240", "totalQuantity": "93", "orderDate": "2019-12-09", "orderFinalDate": "2020-01-10", "totalQuantitySupply": "0", "totalQuantityMissing": "93" }, { "orderNumber": "O57703", "provider": "027", "totalQuantity": "150", "orderDate": "2019-12-17", "orderFinalDate": "2020-01-17", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O57722", "provider": "051", "totalQuantity": "41", "orderDate": "2019-12-17", "orderFinalDate": "2020-01-17", "totalQuantitySupply": "0", "totalQuantityMissing": "41" }, { "orderNumber": "O57740", "provider": "240", "totalQuantity": "94", "orderDate": "2019-12-18", "orderFinalDate": "2020-01-18", "totalQuantitySupply": "0", "totalQuantityMissing": "94" }, { "orderNumber": "O57757", "provider": "027", "totalQuantity": "52", "orderDate": "2019-12-18", "orderFinalDate": "2020-01-18", "totalQuantitySupply": "0", "totalQuantityMissing": "52" }, { "orderNumber": "O57819", "provider": "207", "totalQuantity": "60", "orderDate": "2019-12-30", "orderFinalDate": "2020-01-31", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O57848", "provider": "078", "totalQuantity": "120", "orderDate": "2019-12-31", "orderFinalDate": "2020-01-31", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O57905", "provider": "003", "totalQuantity": "83", "orderDate": "2020-01-16", "orderFinalDate": "2020-02-20", "totalQuantitySupply": "0", "totalQuantityMissing": "83" }, { "orderNumber": "O57911", "provider": "027", "totalQuantity": "336", "orderDate": "2020-01-16", "orderFinalDate": "2020-03-06", "totalQuantitySupply": "0", "totalQuantityMissing": "336" }, { "orderNumber": "O58009", "provider": "003", "totalQuantity": "150", "orderDate": "2020-01-28", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58013", "provider": "027", "totalQuantity": "60", "orderDate": "2020-01-28", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58052", "provider": "197", "totalQuantity": "79", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "79" }, { "orderNumber": "O58053", "provider": "078", "totalQuantity": "290", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "290" }, { "orderNumber": "O58061", "provider": "016", "totalQuantity": "135", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "135" }, { "orderNumber": "O58064", "provider": "162", "totalQuantity": "219", "orderDate": "2020-01-29", "orderFinalDate": "2020-02-28", "totalQuantitySupply": "0", "totalQuantityMissing": "219" }, { "orderNumber": "O58091", "provider": "046", "totalQuantity": "125", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "125" }, { "orderNumber": "O58104", "provider": "090", "totalQuantity": "200", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "200" }, { "orderNumber": "O58105", "provider": "027", "totalQuantity": "90", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58108", "provider": "078", "totalQuantity": "97", "orderDate": "2020-02-05", "orderFinalDate": "2020-03-05", "totalQuantitySupply": "0", "totalQuantityMissing": "97" }, { "orderNumber": "O58140", "provider": "019", "totalQuantity": "53", "orderDate": "2020-02-07", "orderFinalDate": "2020-03-10", "totalQuantitySupply": "0", "totalQuantityMissing": "53" }, { "orderNumber": "O58166", "provider": "235", "totalQuantity": "300", "orderDate": "2020-02-10", "orderFinalDate": "2020-03-10", "totalQuantitySupply": "0", "totalQuantityMissing": "300" }, { "orderNumber": "O58180", "provider": "046", "totalQuantity": "60", "orderDate": "2020-02-11", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58184", "provider": "027", "totalQuantity": "143", "orderDate": "2020-02-11", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "143" }, { "orderNumber": "O58189", "provider": "046", "totalQuantity": "55", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "55" }, { "orderNumber": "O58191", "provider": "019", "totalQuantity": "30", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "30" }, { "orderNumber": "O58193", "provider": "133", "totalQuantity": "45", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "45" }, { "orderNumber": "O58196", "provider": "004", "totalQuantity": "90", "orderDate": "2020-02-12", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58216", "provider": "235", "totalQuantity": "110", "orderDate": "2020-02-13", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "110" }, { "orderNumber": "O58221", "provider": "027", "totalQuantity": "198", "orderDate": "2020-02-13", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "198" }, { "orderNumber": "O58252", "provider": "003", "totalQuantity": "47", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "47" }, { "orderNumber": "O58254", "provider": "027", "totalQuantity": "414", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-27", "totalQuantitySupply": "0", "totalQuantityMissing": "414" }, { "orderNumber": "O58259", "provider": "133", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58261", "provider": "235", "totalQuantity": "240", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "240" }, { "orderNumber": "O58262", "provider": "241", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58264", "provider": "019", "totalQuantity": "179", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "179" }, { "orderNumber": "O58269", "provider": "161", "totalQuantity": "140", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "140" }, { "orderNumber": "O58270", "provider": "169", "totalQuantity": "95", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "95" }, { "orderNumber": "O58272", "provider": "090", "totalQuantity": "120", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O58273", "provider": "012", "totalQuantity": "80", "orderDate": "2020-02-18", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "80" }, { "orderNumber": "O58311", "provider": "119", "totalQuantity": "465", "orderDate": "2020-02-19", "orderFinalDate": "2020-03-20", "totalQuantitySupply": "0", "totalQuantityMissing": "465" }, { "orderNumber": "O58320", "provider": "199", "totalQuantity": "2,000", "orderDate": "2020-02-19", "orderFinalDate": "2020-03-27", "totalQuantitySupply": "0", "totalQuantityMissing": "2,000" }, { "orderNumber": "O58347", "provider": "051", "totalQuantity": "150", "orderDate": "2020-02-21", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58353", "provider": "235", "totalQuantity": "440", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "440" }, { "orderNumber": "O58354", "provider": "189", "totalQuantity": "155", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "155" }, { "orderNumber": "O58357", "provider": "012", "totalQuantity": "245", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "245" }, { "orderNumber": "O58358", "provider": "090", "totalQuantity": "240", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "240" }, { "orderNumber": "O58359", "provider": "078", "totalQuantity": "100", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "100" }, { "orderNumber": "O58365", "provider": "056", "totalQuantity": "95", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "95" }, { "orderNumber": "O58366", "provider": "027", "totalQuantity": "305", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "305" }, { "orderNumber": "O58371", "provider": "046", "totalQuantity": "60", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58372", "provider": "241", "totalQuantity": "155", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "155" }, { "orderNumber": "O58374", "provider": "019", "totalQuantity": "28", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "28" }, { "orderNumber": "O58376", "provider": "013", "totalQuantity": "75", "orderDate": "2020-02-24", "orderFinalDate": "2020-03-24", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58384", "provider": "149", "totalQuantity": "350", "orderDate": "2020-02-25", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "350" }, { "orderNumber": "O58386", "provider": "019", "totalQuantity": "35", "orderDate": "2020-02-25", "orderFinalDate": "2020-03-25", "totalQuantitySupply": "0", "totalQuantityMissing": "35" }, { "orderNumber": "O58475", "provider": "235", "totalQuantity": "60", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "60" }, { "orderNumber": "O58477", "provider": "241", "totalQuantity": "70", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "70" }, { "orderNumber": "O58478", "provider": "056", "totalQuantity": "90", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58480", "provider": "038", "totalQuantity": "75", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58481", "provider": "133", "totalQuantity": "160", "orderDate": "2020-03-05", "orderFinalDate": "2020-04-05", "totalQuantitySupply": "0", "totalQuantityMissing": "160" }, { "orderNumber": "O58485", "provider": "025", "totalQuantity": "90", "orderDate": "2020-03-05", "orderFinalDate": "2020-03-15", "totalQuantitySupply": "0", "totalQuantityMissing": "90" }, { "orderNumber": "O58495", "provider": "003", "totalQuantity": "205", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "205" }, { "orderNumber": "O58497", "provider": "235", "totalQuantity": "424", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "424" }, { "orderNumber": "O58500", "provider": "090", "totalQuantity": "75", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "75" }, { "orderNumber": "O58505", "provider": "012", "totalQuantity": "308", "orderDate": "2020-03-06", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "308" }, { "orderNumber": "O58506", "provider": "025", "totalQuantity": "18", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "18" }, { "orderNumber": "O58509", "provider": "013", "totalQuantity": "80", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "80" }, { "orderNumber": "O58513", "provider": "207", "totalQuantity": "120", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "120" }, { "orderNumber": "O58524", "provider": "004", "totalQuantity": "1,050", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "1,050" }, { "orderNumber": "O58530", "provider": "090", "totalQuantity": "420", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-09", "totalQuantitySupply": "0", "totalQuantityMissing": "420" }, { "orderNumber": "O58532", "provider": "143", "totalQuantity": "490", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "490" }, { "orderNumber": "O58533", "provider": "046", "totalQuantity": "99", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "99" }, { "orderNumber": "O58536", "provider": "090", "totalQuantity": "100", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "100" }, { "orderNumber": "O58540", "provider": "235", "totalQuantity": "245", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "245" }, { "orderNumber": "O58541", "provider": "012", "totalQuantity": "130", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "130" }, { "orderNumber": "O58542", "provider": "004", "totalQuantity": "125", "orderDate": "2020-03-09", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "125" }, { "orderNumber": "O58546", "provider": "046", "totalQuantity": "300", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-10", "totalQuantitySupply": "0", "totalQuantityMissing": "300" }, { "orderNumber": "O58555", "provider": "149", "totalQuantity": "288", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "288" }, { "orderNumber": "O58562", "provider": "197", "totalQuantity": "55", "orderDate": "2020-03-10", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "55" }, { "orderNumber": "O58565", "provider": "025", "totalQuantity": "704", "orderDate": "2020-03-10", "orderFinalDate": "2020-08-15", "totalQuantitySupply": "0", "totalQuantityMissing": "704" }, { "orderNumber": "O58580", "provider": "025", "totalQuantity": "1,786", "orderDate": "2020-03-12", "orderFinalDate": "2020-08-15", "totalQuantitySupply": "0", "totalQuantityMissing": "1,786" }, { "orderNumber": "O58584", "provider": "038", "totalQuantity": "150", "orderDate": "2020-03-12", "orderFinalDate": "2020-04-15", "totalQuantitySupply": "0", "totalQuantityMissing": "150" }, { "orderNumber": "O58590", "provider": "194", "totalQuantity": "8,304", "orderDate": "2020-03-12", "orderFinalDate": "2020-07-30", "totalQuantitySupply": "0", "totalQuantityMissing": "8,304" }, { "orderNumber": "O58651", "provider": "003", "totalQuantity": "350", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "350" }, { "orderNumber": "O58652", "provider": "004", "totalQuantity": "940", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-25", "totalQuantitySupply": "0", "totalQuantityMissing": "940" }, { "orderNumber": "O58653", "provider": "046", "totalQuantity": "210", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "210" }, { "orderNumber": "O58657", "provider": "135", "totalQuantity": "200", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "200" }, { "orderNumber": "O58658", "provider": "150", "totalQuantity": "460", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "460" }, { "orderNumber": "O58663", "provider": "207", "totalQuantity": "130", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "130" }, { "orderNumber": "O58665", "provider": "235", "totalQuantity": "340", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "340" }, { "orderNumber": "O58666", "provider": "241", "totalQuantity": "135", "orderDate": "2020-06-16", "orderFinalDate": "2020-07-20", "totalQuantitySupply": "0", "totalQuantityMissing": "135" }]}"
                        >
                    </sd-table>
                </div>
                <div class="container">
                    <sd-table id="sd-table-example-fetch"
                        .options=${options} @change=${this.log}>
                    </sd-table>
                </div>
                <div class="container">
                    <sd-table id="sd-table-example-void"
                    .data="${[{ "columnOne": "text 1", "columnTwo": 1 , "columnThree": html`<button @click={this.handleClickListener}>click me</button>` },
                      { "columnOne": "text a", "columnTwo": 2, "columnThree": html`<button>click me</button>` },
                      { "columnOne": "text 2a", "columnTwo": -50, "columnThree": html`<button>click me</button>` }]}">
                    </sd-table>
                </div>
            `;

      }
    }
    window.customElements.define('sd-example', SdExample);
  </script>
</body>

</html>